@using WebDeposito.Models
@model MovimientoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@if (!string.IsNullOrEmpty(ViewBag.mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.mensaje
    </div>
}
<h4>MovimientoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmailUsuario" value="@ViewBag.Email" />
            <input type="hidden" asp-for="FechaMovimiento" value="@DateTime.Now" />
            <div class="form-group">
                <label asp-for="ArticuloId" class="control-label">Articulo</label>
                <select asp-for="ArticuloId" class="form-control">
                    @if (ViewBag.Articulos != null && ViewBag.Articulos.Count > 0)
                    {
                        @foreach (ArticuloModel a in ViewBag.Articulos)
                        {
                            <option value="@a.Id">@a.Nombre : @a.Precio$</option>
                        }
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TipoMovimientoId" class="control-label">Tipo Movimiento</label>
                <select asp-for="TipoMovimientoId" class="form-control">
                    @if (ViewBag.TipoMovs != null && ViewBag.TipoMovs.Count > 0)
                    {
                        @foreach (TipoMovimientoModel tipo in ViewBag.TipoMovs)
                        {
                            <option value="@tipo.Id">@tipo.Nombre</option>
                        }
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CantUnidades" class="control-label"></label>
                <input asp-for="CantUnidades" class="form-control" />
                <span asp-validation-for="CantUnidades" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
