@using Papeleria.LogicaAplicacion.DTOs
@model IEnumerable<Papeleria.LogicaAplicacion.DTOs.ClienteDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Filtros</h2>
<form method="post" action="Clientes/FiltrarPorNombre">
    <label for="nombreApe">Nombre o Apellido de Representante:</label>
    <input type="text" name="nombreCliente" value="" placeholder="Nombre o Apellido..." id="nombreApe"/>
    <input type="submit" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                Nombre del Representante
            </th>
            <th>
                Apellido del Representante
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Calle
            </th>
            <th>
                Numero
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroPuerta)
            </td>
        </tr>
}
    </tbody>
</table>
