
@using Papeleria.LogicaAplicacion.DTOs
@model IEnumerable<Papeleria.LogicaAplicacion.DTOs.PedidoDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id del Cliente
            </th>
            <th>
                Fecha Prometida
            </th>
            <th>
                Lineas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model) {
        if(!item.Anulado){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPrometida)
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        @foreach (LineaDTO linea in item.Lineas)
                        {
                                    ArticuloDTO elArticulo = new ArticuloDTO();
                                    @if (ViewBag.Articulos != null && ViewBag.Articulos.Count > 0)
                            {
                                @foreach (ArticuloDTO articulo in ViewBag.Articulos)
                                {
                                    @if (linea.ArticuloId == articulo.Id)
                                    {
                                        elArticulo = articulo;
                                    }
                                }
                            }
                            <li class="list-group-item">
                                @elArticulo.Nombre | @(elArticulo.Precio * linea.CantUnidades) | @linea.CantUnidades
                            </li>
                        }
                    </ul>
                </div>
                </td>
                <td>
                    <form asp-action="AnularPedido">
                        <input type="hidden" value="@item.Id" name="idPedido" />
                        <input type="submit" value="Anular" class="btn btn-sm btn-danger" />
                    </form>
                </td>
            </tr>
        }
}
    </tbody>
</table>
